/* Central body of the page that contains the rest of the visuals*/
body {
    margin: 0;
    padding: 0;
}

/* Whole header section */
header {
    background-color: #A7BEAE;
    color: #fff;
    padding: 15px;
    display: flex;
}

/* Logo lettering */
.heading {
    color: #B85042;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

/* Whole hero section within the body */
.hero {
    background-color: #E7E8D1;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #000;
    /* To give adequate space for footer */
    padding: 15px 15px 20px 15px;
}

/* Title lettering seen in the hero */
.hero h1 {
    color: #B85042;
    font-family: 'Trebuchet MS';
}

button, select {
    font-weight: 600;
    background-color: #A7BEAE;
    color: #B85042;
    border-style: outset;
    border-color: #83a38c;
}

/* Sets map size */
#map {
    height: 450px;
    width: 80%;
    margin: 20px auto;
}

/* Centers output within the hero for initial page and driver's page */
#output {
    text-align: center;
}

/* Whole footer section */
footer {
    background-color: #A7BEAE;
    color: #B85042;
    text-align: center;
    padding: 10px;
}